/*
COLOURS
red: #7F132F
teal: #2E9F9C
black: #000000
white: #fff;

*/

@charset "UTF-8";

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html{
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

html, body, .container {

    font-family: sans-serif;
    line-height: 1.3rem;
    margin: 0;
    padding: 0;

    position: relative;
    width: 100%;
    height: 100%;
}

hr{
    height: 1px;
    border-color: #7F132F;
    color: #7F132F;
    margin-top: 2em 0;
}

img {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
    margin-bottom: 5px;
}

h1 {
    font-size: 2em;
    color: #7F132F;
    margin-top: 10em;
    line-height: 1em;
}

h4{
    font-size: 1.5em;
    color: #2E9F9C;
    padding-bottom: .5em;
}

.header {
    background: url(../images/header-img-large.png) no-repeat fixed;
    background-size: 100%;
    z-index: 100;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    position: fixed;
    -webkit-backface-visibility: hidden;
    background-color: rgba(255, 255, 255, .5);
}

.container > header h1 {
    margin: 0 0 2em 0;
    padding: 0 0 0.8em;
    font-weight: 300;
    font-size: 2.4em;
    line-height: 1.4;
    -webkit-backface-visibility: hidden;
}

.nav {
    position: relative;
    display: block;
    margin: 0 auto;
    padding-bottom: 6em;
    list-style: none;
    background-color: rgba(255, 255, 255, .4);

}

.nav li {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
}

.nav li a {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 10px 0;
    outline: none;
    border-top: 2px solid #7F132F;
    border-bottom: 2px solid #7F132F;
    color: #7F132F;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 1em;
    -webkit-transition: border-color 0.3s, color 0.3s;
    transition: border-color 0.3s, color 0.3s;
}

.nav li a:hover,
.nav li a:focus,
.nav li a:active {
    border-color: #2E9F9C;
    color: #2E9F9C;
}

.small-logo {
    max-width: 6%;
    min-width: 3%;
    padding-top: 2em;
}

.full-logo {
    display: block;
    max-width: 50%;
    min-width: 3%;
    height: 52em;
    margin-bottom: 20em;
    float: left;
}

.wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    min-height: 100%;
    width: 100%;
}

.content {
    position: relative;
    margin: auto;
    padding: 1em 0;
    width: 50%;
    text-align: left;
    font-size: 1em;
}

.content h2 {
    position: relative;
    margin: 30px 0 40px;
    color: #7F132F;
    font-weight: 700;
    font-size: 3em;
}

.content p {
    margin: 0 0 20px 0;
    padding: 0;
}

/* Media queries */
@media screen and (max-width: 72.875em) {

    .header,
    .wrapper {
        font-size: 80%;
    }

    .content {
        width: 85%;
    }

    .content h2 {
        font-size: 1.8em;
    }

    .nav li a {
        width: 160px;
    }
}

@media screen and (max-width: 45.25em) {

    .container > header h1 {
        margin-bottom: 0;
    }

    .content h2 {
        margin: 0 0 1em;
    }

    .wrapper {
        font-size: 80%;
    }

    .wrapper > section {
        background-position: 0 28em;
        background-size: 100%;
    }
}
