/*
COLOURS
red: #7F132F
teal: #2E9F9C
black: #000000
white: #fff;

*/

@charset "UTF-8";

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html{
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

html, body, .container {

    font-family: sans-serif;
    line-height: 1.3rem;
    margin: 0;
    padding: 0;

    position: relative;
    width: 100%;
    height: 100%;
}

img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

.header {
    background: url(../images/header-img-large.png) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 200;
    margin: 0 auto;
    padding-bottom: 30px;
    width: 80%;
    text-align: center;
    position: fixed;
    -webkit-backface-visibility: hidden;
    background-color: rgba(255, 255, 255, .5);
}


.container > header h1 {
    margin: 0 0 2em 0;
    padding: 0 0 0.8em;
    font-weight: 300;
    font-size: 2.4em;
    line-height: 1.4;
    -webkit-backface-visibility: hidden;
}

.nav {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    background-color: rgba(255, 255, 255, .5);

}

.nav li {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
}

.nav li a {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 10px 0;
    outline: none;
    border-top: 2px solid #7F132F;
    border-bottom: 2px solid #7F132F;
    color: #7F132F;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 1em;
    -webkit-transition: border-color 0.3s, color 0.3s;
    transition: border-color 0.3s, color 0.3s;
}

.nav li a:hover,
.nav li a:focus,
.nav li a:active {
    border-color: #2E9F9C;
    color: #2E9F9C;
}

nav .selected {
    color: #2E9F9C;
}

.small-logo {
    max-width: 6%;
    min-width: 3%;
    padding-top: 2em;
}

.full-logo {
    max-width: 30%;
    min-width: 3%;
    display: inline-block;
    padding-top: 140px;
    margin-bottom: -90px;
}

/*
nav {
    width: 550px;
    height:35px;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 3em;
    text-align: center;

    /* Change image size so it is smaller so it fits here */
}
/*
nav ul {
    height: auto;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    padding: 5px;
}

nav a {
    text-decoration: none;
    color: #7F132F;
}

nav a:hover,
nav a:focus,
nav a:active {
    color: #2E9F9C;
}

nav .selected {
    color: #2E9F9C;
}

*/

.wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    min-height: 100%;
    width: 100%;
}

.triplelayout .wrapper > section {
    z-index: 1;
    min-height: 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 10%;
    visibility: hidden;
    width: 80%;
    -webkit-backface-visibility: hidden;
}

.triplelayout .wrapper > section:not(.current) {
    overflow: hidden;
    height: 100%;
}
.triplelayout .-wrapper .left,
.triplelayout .wrapper .leftouter,
.triplelayout .wrapper .current,
.triplelayout .wrapper .right,
.triplelayout .wrapper .right-outer {
    visibility: visible;
}

.triplelayout .wrapper .left {
    left: -70%; /* 80 - 10 */
}

.triplelayout .wrapper .left-outer {
    left: -150%; /* - 70 - 80 */
}

.triplelayout .wrapper .current {
    position: relative;
    z-index: 100;
}

.triplelayout .wrapper .right {
    left: 90%; /* 80 + 10 */
}

.triplelayout .wrapper .right-outer {
    left: 170%; /* 90 + 80 */

.container.move-left .left,
.container.move-left .current,
.container.move-left .right,
.container.move-left .right-outer {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

.container.move-right .left,
.container.move-right .left-outer,
.container.move-right .current,
.container.move-right .right {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}

.content {
    position: relative;
    margin: auto;
    padding: 1em 0;
    width: 95%;
    text-align: left;
    font-size: 1.5em;
}

.content h2 {
    position: relative;
    margin: 30px 0 40px;
    color: #7F132F;
    font-weight: 700;
    font-size: 3em;
}

.content p {
    margin: 0 0 20px 0;
    padding: 0;
}
