/*
COLOURS
red: #7F132F
teal: #2E9F9C
black: #000000
white: #fff;
*/

@charset "UTF-8";

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

html, body, .container {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.3rem;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

hr {
    position: relative;
    height: 1px;
    border-color: #7F132F;
    color: #7F132F;
    margin-top: 2em;
    margin-bottom: 2em;
}

.clearfix {
    clear: both;
}

img {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
    margin-bottom: 5px;
}

.img-left {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    margin-bottom: 5px;
    padding: 2%;
    float: left;
}

.img-small{
    max-width: 50%;
    float: left;
    margin-bottom: 1em;
    padding-left: .3em;
}

.single-img{
    max-width: 50%;
}

.special-top{
    margin-top:-9em;
}

/* H stying */

h1 {
    font-size: 2em;
    font-weight: 700;
    color: #7F132F;
    margin-top: 3em;
    margin-bottom: .3em;
    line-height: 1em;
}

h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #2E9F9C;
    margin-bottom: .5em;
}

h4 {
    font-size: 1.5em;
    color: #2E9F9C;
    padding-bottom: .5em;
    font-weight: 300;
    margin-top: .5em;
}

h6 {
    font-size: 2em;
    font-weight: 700;
    color: #7F132F;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    line-height: 40px;
}

.center{
    margin-top: 2em;
    margin-left: 15%;
    margin-right: 15%;
}

/* header */

.header {
    background: url(../images/header-img-large.png) no-repeat fixed;
    background-size: 100%;
    z-index: 100;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    position: fixed;
    -webkit-backface-visibility: hidden;
    background-color: rgba(255, 255, 255, .6);
}

.container > header h1 {
    margin: 0 0 2em 0;
    padding: 0 0 0.8em;
    font-weight: 300;
    font-size: 2.4em;
    line-height: 1.4;
    -webkit-backface-visibility: hidden;
}

/* Navigation */

.nav {
    position: relative;
    display: block;
    margin: 0 auto;
    list-style: none;
    background-color: rgba(255, 255, 255, .6);
}

.nav li {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 1.3em;
}

.nav li a {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 10px 0;
    outline: none;
    border-top: 2px solid #7F132F;
    border-bottom: 2px solid #7F132F;
    color: #7F132F;
    text-decoration: none;
    -webkit-transition: border-color 0.3s, color 0.3s;
    transition: border-color 0.3s, color 0.3s;
}

.nav li a:hover,
.nav li a:focus,
.nav li a:active {
    border-color: #2E9F9C;
    color: #2E9F9C;
}

/* Logos styling */

.small-logo {
    max-width: 6%;
    min-width: 5em;
    padding-top: 2em;
}

.full-logo {
    max-width: 10em;
    margin-top: 5em;
    margin-right: 1.5em;
    float: left;
}

.intro{
    background-image: url(../images/intro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 7em;
}

.trans-box{
    background-color: rgba(255, 255, 255, .7);
}

/* Content */

.wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    min-height: 100%;
    width: 100%;
}

.content {
    position: relative;
    margin: auto;
    padding: 1em;
    width: 50%;
    text-align: left;
    font-size: 1.3em;
}

.content h2 {
    position: relative;
    margin-bottom: 1em;
    margin-top: 4em;
    color: #7F132F;
    font-weight: 700;
    font-size: 4em;
}

.content p {
    margin: 0 0 10px 0;
    padding: 0;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.ease-all {
    -webkit-transition:all 350ms ease-in-out;
    -moz-transition:all 350ms ease-in-out;
    -ms-transition:all 350ms ease-in-out;
    -o-transition:all 350ms ease-in-out;
    transition:all 350ms ease-in-out;
}

.social {
    max-width: 8rem;
    display: inline-block;
    text-align: center;
}

.social:hover,
.social:active,
.social:focus{
    /* Transform */
    -webkit-transform: scale(1.5, 1.5);
    -moz-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    -o-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
}

/* Footer */

.link-top {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    margin-bottom: 20px;
    padding: 10px 0;
    outline: none;
    border-top: 2px solid #7F132F;
    border-bottom: 2px solid #7F132F;
    color: #7F132F;
    text-decoration: none;
}

footer {
    background: url(../images/header-img-large.png) ;
    background-size: 100%;
    margin: auto;
    width: 100%;
    height: 10%;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    background-repeat: no-repeat;
}

h5 {
    padding-top: 2em;
    background-color: rgba(255, 255, 255, .5);
    font-size: 1.5em;
    color: #2E9F9C;
    padding-bottom: .5em;
    font-weight: 300;
}

/* Media Queries */

@media only screen and (max-width: 45em) {
    .full-logo {
        max-width: 20em;
        min-width: 15em;
        margin-bottom: -180px;
        height: 20em;
        float: none;
    }

    .intro{
        background-size: cover;
    }

    .nav{
        background-color: rgba(255, 255, 255, 1);
    }

    .nav li{
        letter-spacing: 2px;
        font-weight: 300;
        font-size: 1.2em;
    }

    .nav-btn,
    .nav-btn:link,
    .nav-btn:visited{
        display: block;
        height: 60px;
        max-width: 40px;
        max-height: 40px;
        position: absolute;
        top: 35px;
        right: 5%;
        background: #7F132F url('../images/nav-animation.gif') no-repeat center center;
        background-size: contain;
    }

    .nav-btn:hover,
    .nav-btn:focus,
    .nav-btn:active{
        background-color: #2E9F9C;
    }

    .nav-btn[data-state="active"] {
        background: #2E9F9C url('../images/nav-animation.gif') no-repeat center center;
        background-size: contain;
    }

    .nav-top{
        max-height: 0;
        -moz-transition: all 265ms linear;
        -o-transition: all 265ms linear;
        -webkit-transition: all 265ms linear;
        transition: all 265ms linear;
        overflow:hidden;
    }

    .nav-top[data-state="expanded"]{
        max-height: 20rem;
        margin-top:4rem;
        margin-bottom: -4rem;
    }

    .container > header h1 {
        margin-bottom: 0;
    }

    .content h2 {
        margin: 0 0 1em;
    }

    .wrapper {
        font-size: 80%;
    }

    .img-left {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        padding: 2%;
        float: none;
    }

    img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        margin-bottom: 5px;
    }

    .single-img{
        max-width: 100%;
    }
}

@media only screen and (max-width: 25em) {

    .full-logo {
        max-width: 20em;
        min-width: 15em;
        margin-bottom: -100px;
        height: 20em;
        float: left;
    }

    .nav li{
        font-size: 1em;
    }


    .nav-btn,
    .nav-btn:link,
    .nav-btn:visited{
        display: block;
        height: 60px;
        max-width: 40px;
        max-height: 40px;
        position: absolute;
        top: 35px;
        right: 5%;
        background: #7F132F url('../images/nav-animation.gif') no-repeat center center;
        background-size: contain;
    }

    .nav-btn:hover,
    .nav-btn:focus,
    .nav-btn:active{
        background-color: #2E9F9C;
    }

    .nav-btn[data-state="active"] {
        background: #2E9F9C url('../images/nav-animation.gif') no-repeat center center;
        background-size: contain;
    }

    .nav-top{
        max-height: 0;
        -moz-transition: all 265ms linear;
        -o-transition: all 265ms linear;
        -webkit-transition: all 265ms linear;
        transition: all 265ms linear;
        overflow:hidden;
    }

    .nav-top[data-state="expanded"]{
        max-height: 30rem;
        margin-top:4rem;
        margin-bottom: -4rem;
    }

    .social{
        max-width: 5rem;
    }

    .img-small{
        float: none;
        max-width: 100%;
        margin: .3em;
        padding: 0;
    }

    .single-img{
        max-width: 100%;
    }
}

@media screen and (max-width: 156em) {

    .header,
    .wrapper {
        font-size: 80%;
    }

    .content {
        width: 85%;
    }

    .content h2 {
        font-size: 1.8em;
    }

    .nav li a {
        width: 130px;
    }
}
