/*
COLOURS
red: #7F132F
teal: #2E9F9C
black: #000000
white: #fff;
*/

@charset "UTF-8";

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

html, body, .container {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.3rem;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

hr {
    position: relative;
    height: 1px;
    border-color: #7F132F;
    color: #7F132F;
    margin-top: 2em;
    margin-bottom: 2em;
}

.clearfix {
    clear: both;
}

img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    margin-bottom: 5px;
}

.img-left {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    margin-bottom: 5px;
    padding: 2%;
    float: left;
}

/* H stying */

h1 {
    font-size: 2em;
    font-weight: 700;
    color: #7F132F;
    margin-top: 10em;
    line-height: 1em;
}

h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #2E9F9C;
    margin-bottom: .5em;
}

h4 {
    font-size: 1.5em;
    color: #2E9F9C;
    padding-bottom: .5em;
    font-weight: 300;
    margin-top: .5em;
}

/* header */

.header {
    background: url(../images/header-img-large.png) no-repeat fixed;
    background-size: 100%;
    z-index: 100;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    position: fixed;
    -webkit-backface-visibility: hidden;
    background-color: rgba(255, 255, 255, .6);
}

.container > header h1 {
    margin: 0 0 2em 0;
    padding: 0 0 0.8em;
    font-weight: 300;
    font-size: 2.4em;
    line-height: 1.4;
    -webkit-backface-visibility: hidden;
}

/* Navigation */

.nav {
    position: relative;
    display: block;
    margin: 0 auto;
    list-style: none;
    background-color: rgba(255, 255, 255, .6);
}

.nav li {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 1.3em;
}

.nav li a {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 10px 0;
    outline: none;
    border-top: 2px solid #7F132F;
    border-bottom: 2px solid #7F132F;
    color: #7F132F;
    text-decoration: none;
    -webkit-transition: border-color 0.3s, color 0.3s;
    transition: border-color 0.3s, color 0.3s;
}

.nav li a:hover,
.nav li a:focus,
.nav li a:active {
    border-color: #2E9F9C;
    color: #2E9F9C;
}

/* Logos styling */

.small-logo {
    max-width: 6%;
    min-width: 5em;
    padding-top: 2em;
}

.full-logo {
    max-width: 20em;
    min-width: 15em;
    margin-bottom: -90px;
    height: 47em;
    float: left;
}

/* Content */

.wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    min-height: 100%;
    width: 100%;
}

.content {
    position: relative;
    margin: auto;
    padding: 1em 0;
    width: 50%;
    text-align: left;
    font-size: 1.3em;
}

.content h2 {
    position: relative;
    margin-bottom: 1em;
    color: #7F132F;
    font-weight: 700;
    font-size: 4em;
}

.content p {
    margin: 0 0 10px 0;
    padding: 0;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.social{
    width: 12%;
    min-width: 65px;
    display: inline-block;
    text-align: center;
}

/* Footer */

footer {
    background: url(../images/header-img-large.png) ;
    background-size: 100%;
    margin: auto;
    width: 100%;
    height: 10%;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    background-repeat: no-repeat;
}

h5 {
    padding-top: 2em;
    background-color: rgba(255, 255, 255, .5);
    font-size: 1.5em;
    color: #2E9F9C;
    padding-bottom: .5em;
    font-weight: 300;
}

/* different screen sizes */

@media only screen and (max-width: 45em) {
    .full-logo {
        max-width: 20em;
        min-width: 15em;
        margin-bottom: -260px;
        height: 47em;
        float: left;
    }

    .nav{
        background-color: rgba(255, 255, 255, 1);
    }

    .nav li{
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 1.2em;
    }

    .nav-btn,
    .nav-btn:link,
    .nav-btn:visited{
        display: block;
        height: 60px;
        max-width: 40px;
        max-height: 40px;
        position: absolute;
        top: 35px;
        right: 5%;
        background: #7F132F url('../images/nav-animation.gif') no-repeat center center;
        background-size: contain;
    }

    .nav-btn:hover,
    .nav-btn:focus,
    .nav-btn:active{
        background-color: #2E9F9C;
    }

    .nav-btn[data-state="active"] {
        background: #2E9F9C url('../images/nav-animation.gif') no-repeat center center;
        background-size: contain;
    }

    .nav-top{
        max-height: 0;
        -moz-transition: all 265ms linear;
        -o-transition: all 265ms linear;
        -webkit-transition: all 265ms linear;
        transition: all 265ms linear;
        overflow:hidden;
    }

    .nav-top[data-state="expanded"]{
        max-height: 20rem;
        margin-top:4rem;
        margin-bottom: -4rem;
    }

    .container > header h1 {
        margin-bottom: 0;
    }

    .content h2 {
        margin: 0 0 1em;
    }

    .wrapper {
        font-size: 80%;
    }

    .wrapper > section {
        background-position: 0 28em;
        background-size: 100%;
    }

    .img-left {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        padding: 2%;
        float: none;
    }

    img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 25em) {

    .full-logo {
        max-width: 20em;
        min-width: 15em;
        margin-bottom: -260px;
        height: 47em;
        float: left;
    }

    .nav li{
        font-size: 1em;
    }

    .nav-btn,
    .nav-btn:link,
    .nav-btn:visited{
        display: block;
        height: 60px;
        max-width: 40px;
        max-height: 40px;
        position: absolute;
        top: 35px;
        right: 5%;
        background: #7F132F url('../images/nav-animation.gif') no-repeat center center;
        background-size: contain;
    }

    .nav-btn:hover,
    .nav-btn:focus,
    .nav-btn:active{
        background-color: #2E9F9C;
    }

    .nav-btn[data-state="active"] {
        background: #2E9F9C url('../images/nav-animation.gif') no-repeat center center;
        background-size: contain;
    }

    .nav-top{
    max-height: 0;
    -moz-transition: all 265ms linear;
    -o-transition: all 265ms linear;
    -webkit-transition: all 265ms linear;
    transition: all 265ms linear;
    overflow:hidden;
    }

    .nav-top[data-state="expanded"]{
    max-height: 30rem;
    margin-top:4rem;
    margin-bottom: -4rem;
    }

    .full-logo{
        float: none;
        margin-top: 5em;
        margin-bottom: -23em;
        height: 100%;
    }
}
/* Media queries */
@media screen and (max-width: 156em) {

    .header,
    .wrapper {
        font-size: 80%;
    }

    .content {
        width: 85%;
    }

    .content h2 {
        font-size: 1.8em;
    }

    .nav li a {
        width: 160px;
    }
}
