/*
COLOURS
red: #7F132F
teal: #2E9F9C
black: #000000
white: #fff;

*/

@charset "UTF-8";

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html{
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

html, body{
    font-family: sans-serif;
    line-height: 1.3rem;
    margin: 0;
    padding: 0;
    width: 100%;
}

img{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

header{
    background: url(../images/header-img-large.png) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: inline;
    width: 100%;
    position: fixed;
    /*
    background-color: rgba(255, 255, 255, .5);
    */
}

.small-logo{
    max-width: 6%;
    min-width: 3%;
    padding-top: 2em;
}

nav{
    width: 550px;
    height:35px;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 3em;
    text-align: center;

    /* Change image size so it is smaller so it fits here */
}

nav ul{
    height: auto;
    padding: 0;
    margin: 0;
}

nav li{
    display: inline;
    padding: 5px;
}

nav a{
    text-decoration: none;
    color: #7F132F;
}

nav a:hover,
nav a:focus,
nav a:active {
    color: #2E9F9C;
}

nav .selected{
    color: #2E9F9C;
}

.wrapper{
    height: 50em;
    padding-top: 15em;
}


