/*
COLOURS
red: #7F132F
teal: #2E9F9C
black: #000000
white: #fff;

*/

@charset "UTF-8";

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html{
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

html, body{
    font-family: sans-serif;
    line-height: 1.3rem;
    margin: 0;
    padding: 0;
    width: 100%;

    background: url(../images/header-img-large.png) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header{
    display: inline;
    position: fixed;
    top: 10em;
    width: 100%;
}

.small-logo{
    max-width: 6%;
    min-width: 3%;
}

.nav{
    width: 550px;
    height:35px;
    text-align: center;
}

.nav ul{
    height: auto;
    padding: 0;
    margin: 0;
}

.nav li{
    display: inline;
    padding: 5px;
}

.nav a{
    text-decoration: none;
    color: #7F132F;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav a:link,
.nav a:visited{
    color: #2E9F9C;
}

.wrapper{
    padding: 15em;
}

img{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
